In [1]:
import pandas as pd
import numpy as np

In [2]:
""" Grab data where needed. """
import urllib
import hashlib, gzip, csv, re

endpoint = 'http://db.cs.cmu.edu/files/data/stocks/stocks_nyse.csv'

In [12]:
# we can also just read the file directly
## -> data_frame = pd.read_csv('filename.csv')

# we can also save a dataframe to a .csv file 
## -> df.to_csv('filename.csv', index=True/False)

# we can also read the file directly (excel)
## -> data_frame = pd.read_excel('filename.xlsx', sheet_name='Sheetname')

# we can also read html data (tabular data in tables)
## -> table_list = pd.read_html('http://....')

def fetch(url):
    import os,sys, hashlib, gzip
    filename = endpoint.split("/")[-1:][0]
    file_hash = hashlib.sha256(filename.encode("utf-8")).hexdigest()
    if not filename in os.listdir():
        with urllib.request.urlopen(url) as e: 
            d = e.read()
            with gzip.open(file_hash, 'wb') as f: 
                f.write(d)
            return d
    else: 
        with gzip.open(file_hash, 'rb') as f: 
            data = f.readlines()
            return data

data = fetch(endpoint).decode("utf-8").__str__().split("\n")[1:]

In [13]:
d = {
    "Company Names": ["".join(x.split(",")[:-1]).strip('\""') for x in data], 
    "Symbols": [x.split(",")[-1] for x in data]
}
data_frame = pd.DataFrame(d)

In [14]:
data_frame

                             Company Names Symbols
0                Agilent Technologies Inc.       A
1                               Alcoa Inc.      AA
2                    AirTran Holdings Inc.     AAI
3                  Advance Auto Parts Inc.     AAP
4     AMR Corporation Delaware Pines 7.875     AAR
...                                    ...     ...
2829       Zenith National Insurance Corp.     ZNT
2830                       Quiksilver Inc.     ZQK
2831                                   N/A     ZTR
2832                     Sealy Corporation      ZZ
2833

[2834 rows x 2 columns]